#header {
    color: blue;
    border: 1px solid black;
    display: inline-block;
    margin-left: 50px;
    background-color: antiquewhite;
}

#para {
    color: pink;
    font-family: cursive;
}

#button {
    border-radius: 6px;
    color: aliceblue;
    background-color: black;
    margin-left: 300px;
}